body{
  padding: 0;
  margin: 0;
}

.form-container{
  background-color: red;
  /* width: 400px; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-element{
  width: 600px;
  background-color: blue;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}